extends layouts/basic_layout

include includes/mixins/mixins

block head
  //- Inject here JS and styles for this specific page

block content

    h1.text-center Titanic Passengers Data
    h2 Graphic charts :
    div.flex
        a(href="titanic/filter=sex").ui.fluid.large.black.button.filterBtn(data-filter="Sexe") Sexe
        a(href="titanic/filter=Age").ui.fluid.large.black.button.filterBtn(data-filter="Age") Age
        a(href="titanic/filter=classe").ui.fluid.large.black.button.filterBtn(data-filter="Classes") Classe 
    p.margin-top-2 Nombre total de passagers : <b>#{numberOfPassengers}</b>
    h2 Trier par :
    div.flex
      div.filter
        h2 Genre
          a(href="/Sex=ASC" class=(chosenFilter === "Sex" && order === 1 ? "activeArrow" : "")).filterLink
            i(class="fa-solid fa-arrow-up")
          a(href="/Sex=DESC" class=(chosenFilter === "Sex" && order === -1 ? "activeArrow" : "")).filterLink
            i(class="fa-solid fa-arrow-down")
      div.filter
        h2 Age
          a(href="/Age=ASC" class=(chosenFilter === "Age" && order === 1 ? "activeArrow" : "")).filterLink
            i(class="fa-solid fa-arrow-up")
          a(href="/Age=DESC" class=(chosenFilter === "Age" && order === -1 ? "activeArrow" : "")).filterLink
            i(class="fa-solid fa-arrow-down")
      div.filter
        h2 Classe
          a(href="/Pclass=ASC" class=(chosenFilter === "Pclass" && order === 1 ? "activeArrow" : "")).filterLink
            i(class="fa-solid fa-arrow-up")
          a(href="/Pclass=DESC" class=(chosenFilter === "Pclass" && order === -1 ? "activeArrow" : "")).filterLink
            i(class="fa-solid fa-arrow-down")
    div.grid-container
        each passenger in Passengers 
          +passengerCard(passenger)
    div.flexPagination.margin-top-2
      - var i = 1
        while i < (numberOfPassengers/limit)+1
          if typeof chosenFilter === string && typeof order=== string
            a(href=`${chosenFilter}=${order}&page=${i}` class=(page === i ? "active-pagination" : "black")).ui.button= i++
          else 
            a(href=`/page=${i}` class=(page == i ? "active-pagination" : "black")).ui.button= i++



