mixin passengerCard(data) 
    .passengerCard.text-center
        img(src="http://localhost:8000/assets/anonymous.jpg" class="passengerImg")
        p #{data.Name}
        p #{data.Sex === "male" ? "Homme" : "Femme"}
        if data.Age > 1 && data.Age!==null
          p #{data.Age} ans
        else if data.Age <= 1 && data.Age!==null
          p #{data.Age.toFixed(0)} an
        else 
          p Age inconnu
        p #{data.Survived === 1 ? "A survécu" : "N'a pas survécu"}
        if data.Pclass == 1
          p #{data.Pclass} ère classe
        if data.Pclass == 2 || data.Pclass == 3
          p #{data.Pclass} ème classe


mixin field(type, name, placeholder, value)
  .field
    .ui.left.icon.input
      i.icon(class=(type === 'password' ? 'lock' : 'user'))
      input(type=type, name=name, placeholder=placeholder, required=true, value=value)

mixin flashMessage(type, message)
      div(class=type).ui.flashMessage
        div.header
        if type === "success"
          | #{message} 
          i.fa-solid.fa-circle-check
        else 
          | #{message} 
          i.fa-solid.fa-circle-xmark